<div class="center jumbotron">
    <h1>Progra:</h1>

    <h2>
      Progra:はプログラマーの為の情報シェアアプリケーションです。
    </h2>

    <%= link_to "さっそく新規登録", signup_path, class: "btn btn-lg btn-primary" %>
  </div>

  