<% provide(:title, "Progra:について") %>
<h1>Progra:について</h1>
<p>
  Progra:はプログラマーのための情報共有アプリケーションです。プログラマーとしてバグや分からないことでつまづき、苦労して解決してきたことが多くあると思います。その苦労をシェアすることで、プログラマーとしての問題を解決する能力やスピードが加速するのではないのでしょうか。Progra:はそんな思いから生まれた、プログラマーをサポートするアプリケーションです。
</p>