<h1>Progra:</h1>

<p><%= @user.name %>さん<p>

<p>
ようこそ、Progra:へ。下のリンクからアカウントを有効化しましょう。
</p>

<%= link_to "ここからProgra:へ！", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>